<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenis Turnaj 2026</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav>
    <a href="/" class="home-link">🏠</a>
    <a href="/matches" class="nav-btn">Zápasy</a>
    <a href="/players" class="nav-btn">Žebříček</a>
</nav>
<div class="container hero">
    <h1>TENIS <br> 8. 5. 2026</h1>
   <!--<p style="color: var(--text-dim)">Vítejte v systému pro správu turnaje. Sledujte aktuální výsledky v reálném čase.</p> -->
    <div style="margin-top: 20px; font-size: 3rem;">🎾</div>

    <div class="rotation-notice">
        📱 Pro nejlepší zážitek z tabulek doporučujeme otočit telefon na šířku.
    </div>
</div>
</body>
</html>