<div class="container">
    <h2>Rozpis a Výsledky</h2>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Kolo</th>
                <th>Hráč 1 (A)</th>
                <th>Hráč 2 (A)</th>
                <th class="score">Skóre</th>
                <th>Hráč 3 (B)</th>
                <th>Hráč 4 (B)</th>
            </tr>
            </thead>
            <tbody>
            {{#matches}}
            <tr>
                <td>{{round}}</td>
                <td>{{p1_a}}</td>
                <td>{{p2_a}}</td>
                <td class="score">{{score_a}} : {{score_b}}</td>
                <td>{{p1_b}}</td>
                <td>{{p2_b}}</td>
            </tr>
            {{/matches}}
            </tbody>
        </table>
    </div>
</div>